@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body-color: #FFFF;
  --text-green: #8f6149;
  --text-light: #374151;
  --text-dark: #003366;
  --hover-color: rgba(100, 255, 218, 0.1);
  --text-underline: #a73131;
  --shadowColor: 0 10px 30px -10px rgba(2,12,27,0.7)
}

.dark {
  --body-color: #121212;
  --text-green: #00FFFF;
  --text-light: #CCD6F6;
  --text-dark: #8892B0;
  --hover-color: rgba(100, 255, 218, 0.1);
  --text-underline: #00FFFF;
  --shadowColor:0px 4px 10px rgba(255, 255, 255, 0.5)
}


.active {
  color: "#64ff"
}

.navbar {
  z-index: 300;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Your custom CSS class */
.underline-transition {
  /* color: #64FFDA; */
  /* Replace with your desired textGreen color */
  position: relative;
}

.underline-transition::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 0;
  background-color: var(--text-underline);
  /* Replace with your desired textGreen color */
  transition: all 300ms;
}

.underline-transition:hover::after {
  width: 100%;
}

.underline-transition::after {
  height: 1px;
}

.underline-transition::after {
  width: 0;
}

.underline-transition::after {
  bottom: 0;
}

.underline-transition::after {
  left: 0;
}

.underline-transition:hover::after {
  width: 100%;
}

.underline-transition::after {
  transition: all 300ms;
}

.underline-transition::after {
  transition-duration: 300ms;
}

.underline-transition {
  cursor: pointer;
}